@model ArtSolution.Web.Areas.Admin.Models.Discount.CouponListModel
    
@using ArtSolution.Web.Extensions;
@using ArtSolution.Domain.Discounts

@{
    ViewBag.Title = "优惠券管理";
}

<section class="content-header">
    <h1>优惠券管理</h1>
</section>
<section class="content">
    <div class="portlet-body">
        
        <div class="row">
            <div class="col-md-1">
                <a href="#" class="reload btn btn-social-icon" id="search-coupons"><i class="fa fa-search"></i></a>
            </div>
            <div class="col-md-1 col-md-offset-6">
                <a href="@Url.Action("CreateCoupon")" class="btn btn-primary"><i class="fa fa-fw fa-plus-square"></i>新增优惠券</a>
            </div>
        </div>
        <div id="coupon-grid"></div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $("#coupon-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "Coupon"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: false,
                serverSorting: false
            },
            pageable: {
                refresh: true,
                pageSizes: [10, 20, 50]
            },
            scrollable: false,
            columns: [
                {
                    field: "Id",
                    title: "Id",
                    width: 100,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "Amount",
                    title: "优惠金额",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "Name",
                    title: "名称",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "Effective",
                    title: "有效时间",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                },  {
                    field: "CreationTime",
                    title: "创建时间",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "Id",
                    title: "操作",
                    width: 200,
                    template: '<a class="btn btn-success" href="EditCoupon/#=Id#">编辑</a><a class="btn btn-danger">删除</a>'
                }
            ]
        });

        //search button
        $('#search-coupons').click(function () {
            var grid = $('#coupon-grid').data('kendoGrid');
            grid.dataSource.page(0);
        });
    });
    function additionalData() {
        var data = {
            Keywords: $('#@Html.FieldIdFor(model => model.Keywords)').val(),
        };
        return data;
    }
</script>