@{
    ViewBag.Title = "愿望单";
}

<section class="content-header">
    <h1>愿望单</h1>
</section>
<section class="content">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBox("keywords", new { @placeholder = "关键字查询", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <a href="#" class="reload btn btn-social-icon" id="search-wish"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div id="wish-grid"></div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#wish-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "WishOrder"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: false,
                serverSorting: false
            },
            pageable: {
                refresh: true,
                pageSizes: [10, 20, 50]
            },
            scrollable: false,
            columns: [
                {
                    field: "Id",
                    title: "Id",
                    width: 100,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "Brand",
                    title: "品牌名称",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "Product",
                    title: "商品名称",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "CreationTime",
                    title: "创建时间",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                },
            ]
        });

        //search button
        $('#search-wish').click(function () {
            var grid = $('#wish-grid').data('kendoGrid');
            grid.dataSource.page(0);
        });
    });
    function additionalData() {
        var data = {
            Keywords: $('#keywords').val(),
        };
        return data;
    }
</script>