
@{
    ViewBag.Title = "PaySuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-paysuccess">
        <div class="paysuccess-title">
                <span>您的包裹正在整装待发</span>
        </div>
        <div class="result">
            <div class="result-content">
                支付完成~
            </div>
            <div class="row">
                <div class="col-xs-6 ">
                    <a href="/Order/MyOrder" class="btn">查看订单</a>
                </div>
                <div class="col-xs-6 ">
                    <a href="/" class="btn">返回首页</a>
                </div>
            </div>

        </div>
        <div class="result-tip">
            <h5>安全提醒</h5>
            <span class="tip">
                付款成功后,我们不会以任何付款异常、卡单、系统升级为由通过电话联系您。请勿泄露泄露银行卡号、手机验证码，否则会造成的钱款损失。谨防电话诈骗！！！(官方所有的通知以及异常检验，通过官方微信公众号进行处理！)
            </span>
        </div>
    </div>
   

</div>

