@model ArtSolution.Web.Areas.Official.Models.MessageModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>石家庄街旁电子商务有限公司</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Scripts/sweetalert/sweet-alert.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">   
    <link rel="stylesheet" href="~/Areas/Official/Content/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>

    <div class="overlay"></div>
    <section class="top-part">
        <video controls autoplay loop>
            <source src="~/Areas/Official/images/backgrond.mp4" type="video/mp4">
            <source src="~/Areas/Official/images/video.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </section>

    <section class="cd-hero">

        <div class="cd-slider-nav">
            <nav>
                <span class="cd-marker item-1"></span>
                <ul>
                    <li class="selected"><a href="#0"><div class="image-icon"><img src="/images/official/home-icon.png"></div><h6>Welcome</h6></a></li>
                    <li><a href="#0"><div class="image-icon"><img src="/images/official/about-icon.png"></div><h6>About Us</h6></a></li>                    
                    <li><a href="#0"><div class="image-icon"><img src="/images/official/projects-icon.png"></div><h6>Projects</h6></a></li>
                    <li><a href="#0"><div class="image-icon"><img src="/images/official/contact-icon.png"></div><h6>Contact Us</h6></a></li>
                </ul>
            </nav>
        </div> <!-- .cd-slider-nav -->

        <ul class="cd-hero-slider">

            <li class="selected">
                <div class="heading">
                    <h1>微信公众号电商运营方</h1>
                    <span>Welcome To Jie-Pang Electronic Commerce Ltd.</span>
                </div>
                <div class="cd-full-width first-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content first-content">
                                    <h4>我们是移动电商的运营者——街旁</h4>
                                    <p>十年电商运营经验，在2007年接入电商运营平台，直至今日所有的电商运营方案都很完美，我们只做运营者，不做服务商！我们历经了传统PC时代的电子商务，目睹了《百团大战》以及《电商大战》，在这竞争激烈的市场我们研发了新一代的移动电商运营方案；只为电商而生，只为运营电商而活！我们是街旁电子商务。</p>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>            

            <li>
                <div class="heading">
                    <h1>关于我们</h1>
                    <span>About Us</span>
                </div>
                <div class="cd-half-width second-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content second-content">
                                    <div class="row">
                                        <div class="col-md-7 left-image">
                                            <img src="/images/official/left-about-image.jpg">
                                        </div>
                                        <div class="col-md-5">
                                            <div class="right-about-text">
                                                <h4>我们是谁？</h4>
                                                <p>Fusce neque leo, dapibus sed imperdiet sed, vulputate sed purus. Nam eget justo in nibh facilisis rhoncus. Donec et risus non mauris lobortis convallis. Aliquam id urna quis ante blandit semper.</p>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="left-about-text">
                                                <h4>我们能做什么？</h4>
                                                <p>Nam aliquam ultrices interdum. Vivamus metus mi, accumsan a tincidunt a, efficitur id felis. Vivamus non nibh malesuada, vestibulum nulla in, iaculis sem. Aenean tincidunt faucibus ipsum, ac aliquet nunc accumsan sed. Nulla sodales nunc sit amet libero egestas, ut interdum ex congue.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-5 right-image">
                                            <img src="/images/official/right-about-image.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>            

            <li>
                <div class="heading">
                    <h1>解决方案</h1>
                    <span>Our projects</span>
                </div>
                <div class="cd-half-width fourth-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content fourth-content">
                                    <div class="row">
                                        <div class="col-md-4 project-item">
                                            <img data-lightbox="image-1" src="~/images/qrcode.jpg" width="120" />
                                        </div>
                                        <div class="col-md-6 project-item text-left">
                                            <p class="font-max"> <strong>贴身保膘</strong>微信公众号电商平台</p>
                                            <p>我们是化妆品的运输者,这是借助农夫山泉的一句广告语,但是我们确实只是把境外的化妆品带到了境内,并且在境内销售的价格境外的价格及其相近.</p>
                                            <p>每一个做代购的朋友都是通过人肉带回境内或是邮寄回境内,但是他们的商品质量能有保证吗？出现了商品售后问题谁来解决?公众号是由企业进行运营的,商品的质量就能得到保证,任何商品出现质量问题我们先行赔付.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="heading">
                    <h1>联系我们</h1>
                    <span>Contact us</span>
                </div>
                <div class="cd-half-width fivth-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content fivth-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="left-info">
                                                <p>
                                                    <i class="fa fa-map-marker"></i>
                                                    河北省石家庄市裕华区汇通路30号
                                                </p>
                                                <ul class="social-icons">
                                                    <li><i class="fa fa-phone"></i>0311-12345678</li>
                                                    <li><i class="fa fa-envelope-o fa-fw"></i>kf@Jie-Pang.com</li>
                                                    <li><i class="fa fa-cloud"></i>www.jie-pang.com</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                    @using (Ajax.BeginForm("Message", "Home",new AjaxOptions
                                                    {
                                                        HttpMethod = "POST",
                                                        OnComplete = "complete",
                                                    }, new { @class = "form-horizontal", id = "message-form" }))
                                                    {
                                                        @Html.AntiForgeryToken();
                                                    <div class="col-md-6">
                                                        <fieldset>
                                                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "您的称呼", required = "" })
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <fieldset>
                                                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", placeholder = "手机号", required = "" })
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <fieldset>
                                                            @Html.TextAreaFor(model => model.Message, new { rows = "6", @class = "form-control", placeholder = "内容", required = "请填写留言" })
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <fieldset>
                                                            <button type="submit" id="form-submit" class="btn">给我们留言</button>
                                                        </fieldset>
                                                    </div>
                                                    }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul> <!-- .cd-hero-slider -->
    </section> <!-- .cd-hero -->


    <footer>
        <p>
            Copyright &copy; 2017  <a href="http://www.jie-pang.com/" target="_blank" title="石家庄街旁电子商务有限公司">石家庄街旁电子商务有限公司</a> - Collect from <a href="http://www.bb-girl.cn/" title="贴身保膘" target="_blank">贴身保膘</a>
        </p>
    </footer>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>window.jQuery || document.write('<script src="/Scripts/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Areas/Official/Scripts/plugins.js"></script>
    <script src="~/Areas/Official/Scripts/main.js"></script>
    <script src="~/Scripts/sweetalert/sweet-alert.js"></script>    
    <script src="~/Scripts/jquery.validate.min.js"></script> 
    
    <script>
        function complete() {
            $(':input', '#message-form')
                .not(':button, :submit, :reset, :hidden')
                .val('');
            swal("信息已提交");
        }       
        
    </script>
</body>

</html>
