@model ArtSolution.Web.Areas.Admin.Models.Catalog.ProductListModel
@{
    ViewBag.Title = "选择商品";
    Layout = null;
}

<section class="content">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Keywords, new { @placeholder = "关键字查询", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.EditorFor(model => model.CategoryIds, new { SelectList = Model.AvailableCategories })
                    <script>
                        $(document).ready(function () {
                            var rolesIdsInput = $('#@Html.FieldIdFor(model => model.CategoryIds)').data("kendoMultiSelect");
                            rolesIdsInput.setOptions({
                                autoClose: false
                            });

                            @if (Model.AvailableCategories.Count == 0)
                                                {
                                                    <text>
                            rolesIdsInput.setOptions({
                                enable: false,
                                placeholder: '全部类别'
                            });
                            rolesIdsInput._placeholder();
                            rolesIdsInput._enable();
                            </text>
                                                }
                        });
                    </script>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.IsPreSell,
                     new List<SelectListItem> {
                                    new SelectListItem() { Text = "商品预售", Value = (null as bool?).ToString() }, new SelectListItem() { Text = "预售", Value = "true" },
                                    new SelectListItem() { Text = "非预售", Value = "false" }
                     }, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <a href="#" class="btn btn-social-icon" id="search-products"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div id="product-grid"></div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#product-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "Product"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalData
                    },
                    parameterMap: function (data, operation) {
                        if (operation != "read") {
                            return data;
                        } else {
                            //for some reasons only such "Filter" data be parsed
                            return JSON.stringify(data);
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                },
                requestEnd: function (e) {
                    if (e.type == "create" || e.type == "update") {
                        this.read();
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: 10,
                serverPaging: true,
                serverFiltering: false,
                serverSorting: false
            },
            pageable: {
                refresh: true,
                pageSizes: [10, 20]
            },
            scrollable: false,
            columns: [
                {
                    field: "Id",
                    title: "Id",
                    width: 50,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "Name",
                    title: "名称",
                    headerAttributes: { style: "text-align:center" },
                }, {
                    field: "ProductImage",
                    title: "商品图片",
                    width: 70,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: "<img src='#=ProductImage#' width='60' />",
                }, {
                    field: "PreSell",
                    title: "是否预售商品",
                    width: 60,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '# if(PreSell) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                }, {
                    field: "Price",
                    title: "销售价",
                    width: 60,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: "<span class=\"text-danger \" ><strong>#=Price#</strong></span>",
                }, {
                    field: "Market",
                    title: "市场价",
                    width: 60,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: "<span class=\"text-danger \" style=\" text-decoration: line-through;\" ><strong>#=Market#</strong></span>",
                }, {
                    field: "Id",
                    title: "操作",
                    width: 80,
                    template: '<a class="btn btn-success btn-sm" onclick=\'changeproductId(#=Id#,"#=Name#",#=Price#);\'>选择</a>'
                }
            ]
        });

        //search button
        $('#search-products').click(function () {
            var grid = $('#product-grid').data('kendoGrid');
            grid.dataSource.page(0);
        });


    });
    function additionalData() {
        var data = {
            Keywords: $('#@Html.FieldIdFor(model => model.Keywords)').val(),
            CategoryIds: $('#@Html.FieldIdFor(model => model.CategoryIds)').val(),
            IsPreSell: $('#@Html.FieldIdFor(model => model.IsPreSell)').val(),
            BrandId: $('#@Html.FieldIdFor(model => model.BrandId)').val(),
        };
        return data;
    }
</script>
