@model ArtSolution.Web.Models.Catalogs.CatalogDetailModel
@{
    ViewBag.Title = Model.MetaTitle;
}
@Html.Action("Header", "Common")

@Html.Action("HomeCategory", "Catalog", new { categoryId = Model.Id })
@*<div class="searh-box">
    @using (Html.BeginForm("Search", "Product", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input class="form-control" name="Keyword" placeholder="关键词搜索" type="text">
        <input type="submit" value="搜索" />
    }
</div>*@

<div class="categories-box">
        @if (Model.SubProducts.Count > 0)
        {
            @Html.Partial("_ProductBoxs", Model.SubProducts)
        }
        else
        {
            <div class="product-boxs">

                <div class="result">
                    <div class="result-content">
                        没有找到相关的商品~
                    </div>
                    <div class="result-home">
                        <a class="btn btn-sm" href="/">去首页</a>
                    </div>
                </div>
            </div>
        }
</div><!--/end row-->
