@model ArtSolution.Web.Models.Customers.CustomerMobleModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="result-page">
        <div class="result">
            <div class="context-value">
                @Html.Raw(ViewData["contextValue"])

            </div>

        </div>
        <div class="result-button">
            <a class="btn btn-info" href="@ViewData["url"]">返回</a>
        </div>
    </div>
</div>
