
<div class="shop-product-content">
    <div class="ensure clearfix">
            <div class="ensure-item">
                <div class="d-info">
                    <p>
                        <img src="~/images/accept_right.png" />正品保障
                    </p>
                </div>
            </div>

            <div class="ensure-item">
                <div class="d-info">
                    <p>
                        <img src="~/images/accept_right.png" />当日达
                    </p>
                </div>
            </div>

            <div class="ensure-item">
                <div class="d-info">
                    <p>
                        <img src="~/images/accept_right.png" />次日达
                    </p>
                </div>
            </div>
    </div>
    </div>

<div class="shop-ship-content ">
    <div class="ship-info clearfix">
            <div class="ship-info-title">
                运费须知
            </div>
            <div class="ship-info-data">
                <i class="fa fa-commenting-o color-aqua"></i>大表姐提示您,我们将按照每笔订单进行计算运费，单笔订单交易额达到45元将取消运费；
            </div>        
    </div>
    <div class="ship-tip clearfix">
        <div class="ship-tip-title">
            运输提示
        </div>
        <div class="ship-tip-data">
            <i class="fa fa-commenting-o color-aqua"></i>大表姐提出“当日达”特色配送，每日11(a.m)点前下单的小伙伴我们将在当日下午6点前进行配送；超过11(a.m)点下单的同学，大表姐将在次日陪您配送；
        </div>
    </div>
</div>
