

<div class="customer-coupon col-xs-4">
    <a href="@Url.Action("Earnings","Customer")">
        <p class="reward-value">@ViewData["Commission"]</p>
        <p class="reward-title">我的收益</p>
    </a>
</div>
