

<div class="customer-coupon col-xs-4">
    <a href="@Url.Action("CouponList","Customer")">
        <p class="reward-value">@ViewData["CouponListCount"]</p>
        <p class="reward-title">优惠券</p>
    </a>
</div>
