@model ArtSolution.Web.Models.News.LoanModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_CenterHeader", "借款通知")
<div class="container">
    <div class="customer-loan">
      <span>您的信息已提交，请等待电话通知</span>
    </div>
</div>
