@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_CenterHeader", "推广人申请")
<div class="container">
    <div class="customers">
        <div class="result">
            <div class="result-content">
                您的信息已提交给管理人员，请等待审核~
            </div>
            <div class="result-home">
                <a class="btn btn-sm" href="/">返回首页</a>
            </div>
        </div>
    </div>
</div>
