
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="customer-qr-code">
        <div class="qr-code">
            <img src="@ViewData["share"]" />
        </div>
    </div>
    <div class="customer-qr-title">
        <p>快来关注《贴身保膘》，让大表姐为你的肌肤最优质的体验</p>
    </div>
</div>