@model ArtSolution.Web.Areas.Admin.Models.Catalog.BrandModel
@{
    //page title
    ViewBag.Title = "品牌管理";
}

<section class="content-header">
    <h1>品牌编辑</h1>
</section>
<section class="content">
    <div class="portlet-body">
        @using (Html.BeginForm("Edit", "Brand", FormMethod.Post, new { id = "brand-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="section-header">
                <div class="options  pull-left">
                    <input type="submit" name="save" class="btn btn-primary" value="保存" />
                    <input type="submit" name="save-continue" class="btn btn-primary btn-success" value="保存并编辑" />
                </div>
                <ol class="breadcrumbs pull-right">
                    <li><a href="@Url.Action("List")" class="btn btn-primary"><i class="fa fa-fw fa-plus-square"></i>返回列表</a></li>
                </ol>
            </div>
            @Html.Partial("_CreateOrUpdate", Model)
        }


    </div>
</section>
