@model string
<div class="head_wrapper">
    <div class="head_back">
        <a class="back" href="@Url.Action("Center","Customer")">
            <i class="fa fa-angle-left fa-2x"></i>
        </a>

       
        <h4 class="page-name">@Model</h4>
    </div>
</div>