@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@RenderBody()

<div class="footer-nav" id="footer-nav">
    <ul class="footer-show">
        <li class="items home">
            <a href="@Url.Action("Index","Home")">
                <i class="fa fa-home"></i>商城
            </a>
        </li>
        <li class="items cart">

            <a href="@Url.Action("MyCarts", "ShoppingCart")">
               <i class="fa fa-shopping-cart"></i>购物车
            </a>
        </li>
    </ul>
</div>
