<div class="footer-v4">
    <div class="footer">

        <div class="text-center"><a href="@Url.Action("Detail", "Topic", new { systemName = "Helper" })" title="常见问题">
            <img class="footer-logo" src="~/images/qa.png" alt="常见问题"></a>
        </div>
        <ul class="list-unstyled address-list margin-bottom-20 text-center">
            <li><span><i class="fa fa-mobile"></i>客服电话:</span> 0311 - 6653 5067</li>
            <li><span><i class="fa fa-map-marker"></i>地址:</span>石家庄市汇通路30号</li>
            <li><span><i class="fa fa fa-envelope-o fa-fw"></i>E-Mail:</span>kf@jie-pang.com‍</li>
        </ul>
    </div><!--/footer-->    
</div>